@import url("http://fonts.cdnfonts.com/css/space-mission");
@import url("http://fonts.cdnfonts.com/css/aldrich");
#particles-js {
  position: absolute;
  height: 100vh;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}

.logo {
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 3;
  width: 5rem;
  height: 5rem;
}

.headline {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-45%, -50%);
  z-index: 3;
  color: #ffe600;
  line-height: 5rem;
}
.headline h1 {
  font-family: "SPACE MISSION", sans-serif;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  -webkit-animation: animation1 1s ease-in-out infinite;
          animation: animation1 1s ease-in-out infinite;
}
.headline p {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: Aldrich, sans-serif;
  margin-left: -2rem;
  letter-spacing: 0.3rem;
}

@-webkit-keyframes animation1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
.links {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 3;
  display: flex;
  align-items: center;
}
.links a {
  font-size: 2.1rem;
  color: #777777;
  margin: 0.2rem;
  transition: 0.5s ease-in-out;
}
.links a:nth-child(2) {
  font-size: 2.3rem;
}
.links a:nth-child(3) {
  font-size: 2.3rem;
}
.links a:hover {
  color: #ffffff;
}

.btn-start {
  position: absolute;
  right: 50%;
  bottom: 25%;
  transform: translate(50%, -50%);
  color: #ffe600;
  text-decoration: none;
  font-size: 1.7rem;
  border: 0.1rem solid #ffe600;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 5rem;
  background: #000000;
  font-family: Aldrich, sans-serif;
  z-index: 3;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
}
.btn-start:hover {
  filter: drop-shadow(0px 10px 5px rgba(255, 230, 0, 0.3));
}

.portal-headline {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.portal-headline h1 {
  font-size: 6rem;
}

.btn-portal {
  position: absolute;
  margin-top: 4rem;
  margin-left: -2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.btn-portal .btn {
  color: #ffe600;
  text-decoration: none;
  font-size: 1.7rem;
  border: 0.1rem solid #ffe600;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 5rem;
  background: #000000;
  font-family: Aldrich, sans-serif;
  z-index: 3;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
  margin: 2rem;
}
.btn-portal .btn:hover {
  filter: drop-shadow(0px 10px 5px rgba(255, 230, 0, 0.3));
}

.projects {
  overflow: hidden;
  padding-bottom: 20rem;
  background: #000000;
  position: relative;
}
.projects .btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #ffe600;
  text-decoration: none;
  font-size: 1.7rem;
  border: 0.1rem solid #ffe600;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 5rem;
  background: #000000;
  font-family: Aldrich, sans-serif;
  z-index: 3;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
  margin: 2rem;
  font-size: 1rem;
}
.projects .btn:hover {
  filter: drop-shadow(0px 10px 5px rgba(255, 230, 0, 0.3));
}
.projects .title {
  color: #ffe600;
  text-align: center;
  margin: 2rem;
  font-size: 4rem;
  font-family: "SPACE MISSION", sans-serif;
  letter-spacing: 0.8rem;
  text-decoration: overline;
  position: relative;
  z-index: 3;
}
.projects .project-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100%;
}
.projects .project-list .project-card {
  z-index: 3;
  width: 40%;
  height: 18rem;
  margin: 1rem;
  background: rgba(255, 229, 0, 0.21);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgb(255, 229, 0);
}
.projects .project-list .project-card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
}
.projects .project-list .project-card:hover {
  position: relative;
  top: -0.3rem;
}

.about {
  height: 100vh;
  overflow: hidden;
  background: #000000;
}
.about .title {
  color: #ffe600;
  text-align: center;
  margin: 2rem;
  font-size: 4rem;
  font-family: "SPACE MISSION", sans-serif;
  letter-spacing: 0.8rem;
  text-decoration: overline;
  position: relative;
  z-index: 3;
}
.about .details {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: rgba(255, 229, 0, 0.21);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgb(255, 229, 0);
  width: 90vw;
  height: 70vh;
  z-index: 3;
}
.about .details img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background: #000000;
}
.container::before {
  content: "";
  background: url("../Assets/bg-u.png") no-repeat;
  height: 55%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.container::after {
  content: "";
  background: url("../Assets/bg-d.png");
  height: 55%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.container .rectangle {
  position: absolute;
  inset: 0 0 0 0;
  background: url("../Assets/Rectangle.png") no-repeat;
}