.about {
  height: 100vh;
  overflow: hidden;
  background: $clr-2;
  .title {
    @include portal-title;
  }
  .details {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -30%);
    @include glass-effect;
    width: 90vw;
    height: 70vh;
    z-index: 3;
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }
  }
}
