@import url("http://fonts.cdnfonts.com/css/space-mission");
@import url("http://fonts.cdnfonts.com/css/aldrich");

$font-1: "SPACE MISSION", sans-serif;
$font-2: Aldrich, sans-serif;
$clr-1: #ffe600;
$clr-2: #000000;
$clr-3: #777777;

@mixin animation-1 {
  transition: 0.5s ease-in-out;
}

@mixin btn-style {
  color: $clr-1;
  text-decoration: none;
  font-size: 1.7rem;
  border: 0.1rem solid $clr-1;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 5rem;
  background: $clr-2;
  font-family: $font-2;
  z-index: 3;

  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.3));
  &:hover {
    filter: drop-shadow(0px 10px 5px rgba($clr-1, 0.3));
  }
}

@mixin portal-title {
  color: $clr-1;
  text-align: center;
  margin: 2rem;
  font-size: 4rem;
  font-family: $font-1;
  letter-spacing: 0.8rem;
  text-decoration: overline;
  position: relative;
  z-index: 3;
}

@mixin glass-effect {
  background: rgba(255, 229, 0, 0.21);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 229, 0, 1);
}

@mixin links {
  z-index: 3;
  display: flex;
  align-items: center;
  a {
    font-size: 2.1rem;
    color: $clr-3;
    margin: 0.2rem;
    @include animation-1;
    &:nth-child(2) {
      font-size: 2.3rem;
    }
    &:nth-child(3) {
      font-size: 2.3rem;
    }

    &:hover {
      color: #ffffff;
    }
  }
}
