.portal-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-top: 5rem;
  h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
  }
}

.btn-portal {
  margin-left: -2rem;
  .btn {
    @include btn-style;
    margin: 2rem;
  }
}
.return-home {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  @include btn-style;
  margin: 2rem;
  font-size: 1rem;
}
