.portal-headline {
  width: max-content;
  h1 {
    font-size: 6rem;
  }
}

.btn-portal {
  position: absolute;
  margin-top: 4rem;
  margin-left: -2rem;
  width: max-content;
  .btn {
    @include btn-style;
    margin: 2rem;
  }
}
